/* default */
body,table,textarea,input,select,li,ul {
  font-family:"ＭＳＰ ゴシック",monospace;
  font-family:"ＭＳ ゴシック",sans-serif\9;
  font-size:9pt;
  color:rgba(  150,  181,  199, 1.0);
}
body {
  display: flex;
  justify-content: center;
  max-height: 100vh;
  margin-top: 15px; 
  margin-bottom: 80px;
  /* box-sizing: border-box; */
  background-color: #232830;
}
select {background-color: #4e5563; border-width:0px;}
input  {margin:0px;padding:0px;}
input[type=checkbox]
       {vertical-align:middle;}

.t     {background:#0f0 !important;}
.t2    {background:#00f !important;}
.t3    {background:#f00 !important;}

.t th  {background:#f0f !important;}
.t td  {background:#00f !important;}

.help {text-decoration:underline;cursor:help;}
/* --------------------------------------------------------------------------- */
#body ul,dl {margin:0px;padding:0px;list-style:none none inside;}
#body li    {position:relative;float:left;white-space:nowrap;}
#body dd,dt {margin:0px;padding:0px;float:left;white-space:nowrap;}

#Msg {
  border:0px #000 solid;
  border-spacing:1px;
}
#Msg1 {
  font-family:"ＭＳＰ ゴシック","MS UI Gothic",sans-serif;
  color:#7ec640;
  background:#2a3138;
  text-align:center;
  text-shadow:-1px -1px 1px rgba(255,255,255,1);
  box-shadow:inset 1px 1px 1px rgba(  0,  0,  0,0.5), inset -1px -1px 1px rgba(255,255,255,0.6);
  -moz-box-shadow:inset 1px 1px 1px rgba(  0,  0,  0,0.5), inset -1px -1px 1px rgba(255,255,255,0.6);
    -ms-box-shadow:inset 1px 1px 1px rgba(  0,  0,  0,0.5), inset -1px -1px 1px rgba(255,255,255,0.6);
    -o-box-shadow:inset 1px 1px 1px rgba(  0,  0,  0,0.5), inset -1px -1px 1px rgba(255,255,255,0.6);
  border-radius:2px;
  -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
}
#Msg2 {
  font-family:"ＭＳＰ ゴシック","MS UI Gothic",sans-serif;
  text-align:center;
  text-shadow:2px 2px 2px rgba(  0,  0,  0,0.7);
}

.col_txt1,.head,.input_lt,.input_lt li,.btn1 div:hover,.btn1_on div,.btn2 div:hover,.btn2_on div,.tab_off div,.learn li {
  color:#c0c5ce;
}
.col_txt2,.input_lt2_2 div {
  color:#c0c5ce;
}
.col_txt_blue   {color:rgb(0, 114, 221) !important;}
.col_txt_green  {color:rgb(90, 230, 90) !important;}
.col_txt_red    {color:#f00 !important;}
.col_txt_bg     {color:#c2ff96;}
.col_bg         {background:#343d46;}
.col_bg2        {background:#343d46;}
  /* #SelJob {background-color: #242d36;}
  #SelRace {background-color: #242d36;}
  #SelRSkill {background-color: #242d36; } */
  option         {background-color: #343d46;}
  option:hover   {background-color: #505c68;}
  option:checked {background-color: #21641f; color: rgb(44, 236, 44);}
.col_bg3        {background-color:#343d46;}
/* ----- 色 c2ff96
   #f8fff3     #eaffdc     #ddffc4     #d0ffad     #c2ff96     #b5ff7f     #a8ff68
   #9ff360     #8fdd50     #7ec640     #6daf30     #5d9920     #4c8210     #3b6c00
   248,255,243 234,255,220 221,255,196 208,255,173 194,255,150 181,255,127 168,255,104
   159,243, 96 126,198, 64 126,198, 64 109,175, 48  93,153, 32  76,130, 16  59,108,  0 */

.main {
  border:1px rgba(  0,  0,  0,0.1) solid;
  box-shadow:2px 2px 2px rgba(  0,  0,  0,0.7);
  -moz-box-shadow:2px 2px 2px rgba(  0,  0,  0,0.7);
    -ms-box-shadow:2px 2px 2px rgba(  0,  0,  0,0.7);
    -o-box-shadow:2px 2px 2px rgba(  0,  0,  0,0.7);
  border-radius:3px;
  -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
}
.title {
  color:rgb(121, 153, 173);
  background:#343d46;
  text-shadow:-1px -1px 1px #000;
  box-shadow:inset 1px 1px 1px rgba(  0,  0,  0,0.5), inset -1px -1px 1px rgba(255,255,255,0.6);
    -ms-box-shadow:inset 1px 1px 1px rgba(  0,  0,  0,0.5), inset -1px -1px 1px rgba(255,255,255,0.6);
    -o-box-shadow:inset 1px 1px 1px rgba(  0,  0,  0,0.5), inset -1px -1px 1px rgba(255,255,255,0.6);
  border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
}

.sub_win {
  z-index:3;
  border-width:3px;
  border-color:rgba(255,255,255,0.3);
  border-style:double;
  border-radius:3px;
  -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
}
.sub_win .head {
  padding-top:2px;
  background:#444d56;
  text-align:center;
  border-radius:3px 3px 0px 0px;
  -moz-border-radius:3px 3px 0px 0px;
    -ms-border-radius:3px 3px 0px 0px;
    -o-border-radius:3px 3px 0px 0px;
}
.sub_win .head2 {
  padding-top:2px;
  background:rgba(0,0,0,0.7);
  text-align:center;
  border-radius:3px;
  -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
}

.sub_win .learn {
  background:rgba(  0,  0,  0,0.5);
  border:1px rgba(255,255,255,0.5) solid;
  border-radius:8px;
  -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
}
.sub_win .learn_icon {
  border:3px #000 double;
  border-radius:4px;
  -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
}

.Inside {
  padding-left:3px;
  background:#2a3138;
  box-shadow:inset 1px 1px 1px rgba(  0,  0,  0,0.5);
  -moz-box-shadow:inset 1px 1px 1px rgba(  0,  0,  0,0.5);
    -ms-box-shadow:inset 1px 1px 1px rgba(  0,  0,  0,0.5);
    -o-box-shadow:inset 1px 1px 1px rgba(  0,  0,  0,0.5);
  border-radius:3px 3px 0px 0px;
  -moz-border-radius:3px 3px 0px 0px;
    -ms-border-radius:3px 3px 0px 0px;
    -o-border-radius:3px 3px 0px 0px;
}

.input_lt {
  padding:2px 1px 0px 2px;
  background:rgba(  0,  0,  0,0.2);
  border-width:1px 0px 1px 1px;
  border-color:rgba(  0,  0,  0,0.2);
  border-style:solid;
  box-shadow:inset 2px 1px 2px rgba(  0,  0,  0,0.2), inset 1px 3px 1px rgba(255,255,255,0.2), inset 2px 1px 2px rgba(  0,  0,  0,0.1), inset 3px -2px 5px rgba(  0,  0,  0,0.6), 1px 1px 1px rgba(  0,  0,  0,0.3);
  -moz-box-shadow:inset 2px 1px 2px rgba(  0,  0,  0,0.2), inset 1px 3px 1px rgba(255,255,255,0.5), inset 2px 1px 2px rgba(  0,  0,  0,0.1), inset 3px -2px 5px rgba(  0,  0,  0,0.6), 1px 1px 1px rgba(  0,  0,  0,0.3);
    -ms-box-shadow:inset 2px 1px 2px rgba(  0,  0,  0,0.2), inset 1px 3px 1px rgba(255,255,255,0.5), inset 2px 1px 2px rgba(  0,  0,  0,0.1), inset 3px -2px 5px rgba(  0,  0,  0,0.6), 1px 1px 1px rgba(  0,  0,  0,0.3);
    -o-box-shadow:inset 2px 1px 2px rgba(  0,  0,  0,0.2), inset 1px 3px 1px rgba(255,255,255,0.5), inset 2px 1px 2px rgba(  0,  0,  0,0.1), inset 3px -2px 5px rgba(  0,  0,  0,0.6), 1px 1px 1px rgba(  0,  0,  0,0.3);
  border-radius:8px 0px 0px 8px;
  -moz-border-radius:8px 0px 0px 8px;
    -ms-border-radius:8px 0px 0px 8px;
    -o-border-radius:8px 0px 0px 8px;
}
.input_gt {
  padding:2px 1px 0px 2px;
  background: #2b303b;
  border-width:1px 1px 1px 0px;
  border-color:rgba(  0,  0,  0, 0.2);
  border-style:solid;
  box-shadow:inset 0px 0px 0px rgba(  0,  0,  0,0), inset -2px 1px 2px rgba(255,255,255,0.2), inset -1px 1px 1px rgba(  0,  0,  0,0.5), inset -2px 1px 2px rgba(255,255,255,0.1), inset -1px -2px 5px rgba(255,255,255,0.2);
  -moz-box-shadow:inset 0px 0px 0px rgba(  0,  0,  0,0), inset -2px 1px 2px rgba(255,255,255,0.2), inset -1px 1px 1px rgba(  0,  0,  0,0.5), inset -2px 1px 2px rgba(255,255,255,0.1), inset -1px -2px 5px rgba(255,255,255,0.2);
    -ms-box-shadow:inset 0px 0px 0px rgba(  0,  0,  0,0), inset -2px 1px 2px rgba(255,255,255,0.2), inset -1px 1px 1px rgba(  0,  0,  0,0.5), inset -2px 1px 2px rgba(255,255,255,0.1), inset -1px -2px 5px rgba(255,255,255,0.2);
    -o-box-shadow:inset 0px 0px 0px rgba(  0,  0,  0,0), inset -2px 1px 2px rgba(255,255,255,0.2), inset -1px 1px 1px rgba(  0,  0,  0,0.5), inset -2px 1px 2px rgba(255,255,255,0.1), inset -1px -2px 5px rgba(255,255,255,0.2);
  border-radius:0px 8px 8px 0px;
  -moz-border-radius:0px 8px 8px 0px;
    -ms-border-radius:0px 8px 8px 0px;
    -o-border-radius:0px 8px 8px 0px;
}
.input_lt2_1 {
  border-radius:8px 0px 0px 0px;
  -moz-border-radius:8px 0px 0px 0px;
    -ms-border-radius:8px 0px 0px 0px;
    -o-border-radius:8px 0px 0px 0px;
}
.input_lt2_2 {
  color:rgb(164, 176, 185);
  background: #4e5563;
  border-width:0px 1px 1px 1px;
  border-color:rgba(  0,  0,  0,0.2);
  border-style:solid;
  box-shadow:inset 0px 0px 0px rgba(  0,  0,  0,0), inset -2px 1px 2px rgba(255,255,255,0.2), inset -1px 1px 1px rgba(  0,  0,  0,0.5), inset -2px 1px 2px rgba(255,255,255,0.1), inset -1px -2px 5px rgba(120, 150, 185, 0.4);
  -moz-box-shadow:inset 0px 0px 0px rgba(  0,  0,  0,0), inset -2px 1px 2px rgba(255,255,255,0.2), inset -1px 1px 1px rgba(  0,  0,  0,0.5), inset -2px 1px 2px rgba(255,255,255,0.1), inset -1px -2px 5px rgba(120, 150, 185, 0.4);
    -ms-box-shadow:inset 0px 0px 0px rgba(  0,  0,  0,0), inset -2px 1px 2px rgba(255,255,255,0.2), inset -1px 1px 1px rgba(  0,  0,  0,0.5), inset -2px 1px 2px rgba(255,255,255,0.1), inset -1px -2px 5px rgba(120, 150, 185, 0.4);
    -o-box-shadow:inset 0px 0px 0px rgba(  0,  0,  0,0), inset -2px 1px 2px rgba(255,255,255,0.2), inset -1px 1px 1px rgba(  0,  0,  0,0.5), inset -2px 1px 2px rgba(255,255,255,0.1), inset -1px -2px 5px rgba(120, 150, 185, 0.4);
  border-radius:0px 0px 8px 8px;
  -moz-border-radius:0px 0px 8px 8px;
    -ms-border-radius:0px 0px 8px 8px;
    -o-border-radius:0px 0px 8px 8px;
}
.lt2 {
  border-bottom-width:0px;
  border-radius:8px !important;
  -moz-border-radius:8px !important;
    -ms-border-radius:8px !important;
    -o-border-radius:8px !important;
}
.lt3 {
  border-top-width:0px;
  border-radius:0px !important;
  -moz-border-radius:0px !important;
    -ms-border-radius:0px !important;
    -o-border-radius:0px !important;
}
.lt4 {
  border-top-width:0px;
  border-radius:0px 0px 0px 8px !important;
  -moz-border-radius:0px 0px 0px 8px !important;
    -ms-border-radius:0px 0px 0px 8px !important;
    -o-border-radius:0px 0px 0px 8px !important;
}
.lt5 {
  border-top-width:0px;
  border-radius:0px 0px 8px 0px !important;
  -moz-border-radius:0px 0px 8px 0px !important;
    -ms-border-radius:0px 0px 8px 0px !important;
    -o-border-radius:0px 0px 8px 0px !important;
}

/* ----- button */
a div {text-decoration:none;}
.btn1 div,.btn1_off div { /* Outside of the frame, white background */
  color:#b4bec9;
  background:#4e5563; 
  border-bottom:1px rgba(  0,  0,  0,0.2) solid;
  text-align:center;
  cursor:pointer;
  box-shadow: inset 5px 7px 10px rgba(120, 150, 185, 0.8), 1px 2px 2px rgba(  0,  0,  0,0.2);
  -moz-box-shadow:inset 5px 7px 10px rgba(255,255,255,0.8), 1px 2px 2px rgba(  0,  0,  0,0.2);
    -ms-box-shadow:inset 5px 7px 10px rgba(255,255,255,0.8), 1px 2px 2px rgba(  0,  0,  0,0.2);
    -o-box-shadow:inset 5px 7px 10px rgba(255,255,255,0.8), 1px 2px 2px rgba(  0,  0,  0,0.2);
  border-radius: 6px;
  -moz-border-radius:6px;
    -ms-border-radius:6px;
    -o-border-radius:6px;
}
.btn1 div:hover,.btn1_on div {
  background: #4e5563;
  border-bottom:1px rgba(255,255,255,0.2) solid;
  cursor:pointer;
  box-shadow:inset 5px 7px 10px rgba(120, 150, 185, 0.8), -1px -1px -1px rgba(  0,  0,  0,0.2);
  -moz-box-shadow:inset 5px 7px 10px rgba(  0,  0,  0,0.2), -1px -1px 1px rgba(  0,  0,  0,0.2);
    -ms-box-shadow:inset 5px 7px 10px rgba(  0,  0,  0,0.2), -1px -1px 1px rgba(  0,  0,  0,0.2);
    -o-box-shadow:inset 5px 7px 10px rgba(  0,  0,  0,0.2), -1px -1px 1px rgba(  0,  0,  0,0.2);
  border-radius:6px;
  -moz-border-radius:6px;
    -ms-border-radius:6px;
    -o-border-radius:6px;
}

.btn2 div,.btn2_off div { /* Inside the frame */
  padding:1px 6px 0px 7px;
  height:14px;
  color:rgba(255,255,255,0.6);
  background:rgba(255,255,255,0.1);
  text-align:center;
  border-bottom:1px rgba(  0,  0,  0,0.2) solid;
  cursor:pointer;
  box-shadow:inset 5px 7px 10px rgba(120, 150, 185, 0.8), 1px 1px 1px rgba(  0,  0,  0,0.2);
  -moz-box-shadow:inset 5px 7px 10px rgba(255,255,255,0.8), 1px 1px 1px rgba(  0,  0,  0,0.2);
    -ms-box-shadow:inset 5px 7px 10px rgba(255,255,255,0.8), 1px 1px 1px rgba(  0,  0,  0,0.2);
    -o-box-shadow:inset 5px 7px 10px rgba(255,255,255,0.8), 1px 1px 1px rgba(  0,  0,  0,0.2);
  border-radius:6px;
  -moz-border-radius:6px;
    -ms-border-radius:6px;
    -o-border-radius:6px;
}
.btn2 div:hover,.btn2_on div {
  padding:1px 6px 0px 7px;
  height:14px;
  background:rgba(255,255,255,0.1);
  text-align:center;
  border-bottom:1px rgba(255,255,255,0.2) solid;
  cursor:pointer;
  box-shadow:inset 5px 7px 10px rgba(  0,  0,  0,0.2), -1px -1px 1px rgba(  0,  0,  0,0.2);
  -moz-box-shadow:inset 5px 7px 10px rgba(  0,  0,  0,0.2), -1px -1px 1px rgba(  0,  0,  0,0.2);
    -ms-box-shadow:inset 5px 7px 10px rgba(  0,  0,  0,0.2), -1px -1px 1px rgba(  0,  0,  0,0.2);
    -o-box-shadow:inset 5px 7px 10px rgba(  0,  0,  0,0.2), -1px -1px 1px rgba(  0,  0,  0,0.2);
  border-radius:6px;
  -moz-border-radius:6px;
    -ms-border-radius:6px;
    -o-border-radius:6px;
}

/* ----- tab */
.tab_off div {
  padding:3px 6px 1px 7px;
  background:#4e5563;
  cursor:pointer;
  box-shadow:1px 1px 1px rgba(  0,  0,  0,0.5);
  -moz-box-shadow:1px 1px 1px rgba(  0,  0,  0,0.5);
    -ms-box-shadow:1px 1px 1px rgba(  0,  0,  0,0.5);
    -o-box-shadow:1px 1px 1px rgba(  0,  0,  0,0.5);
  border-radius:6px 6px 0px 0px;
  -moz-border-radius:6px 6px 0px 0px;
    -ms-border-radius:6px 6px 0px 0px;
    -o-border-radius:6px 6px 0px 0px;
}
.tab_on div {
  padding:3px 6px 1px 7px;
  color:#b4bec9;
  background:#343d46;
  cursor:pointer;
  box-shadow:2px 2px 1px rgba(  0,  0,  0,0.5);
  -moz-box-shadow:2px 2px 1px rgba(  0,  0,  0,0.5);
    -ms-box-shadow:2px 2px 1px rgba(  0,  0,  0,0.5);
    -o-box-shadow:2px 2px 1px rgba(  0,  0,  0,0.5);
  border-radius:6px 6px 0px 0px;
  -moz-border-radius:6px 6px 0px 0px;
    -ms-border-radius:6px 6px 0px 0px;
    -o-border-radius:6px 6px 0px 0px;
}
/* ----- Wire */
.line1 {background:rgba(  0,  0,  0,0.1);}
.line2 {background:rgba(255,255,255,0.3);}
